/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: var(--system-ui);
}

/* SPECIFICS */
:root {
    --background--sidebar: #E4E4E4;
    --background--main: #6175C3;
    --text--sidebar: black;
    --text--main: white;
}

body {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: var(--background--sidebar);
    color: var(--text--sidebar);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.project-list {
    flex-grow: 1;
    min-height: 0;
    overflow: scroll;
}

.sidebar li {
    list-style: disc;
    /* Change to specific icon (like in MS Todo) */
}

.project {
    padding: 0;
    border: none;
    background-color: transparent;
}

.add-project {
    color: #34373D;
    background-color: transparent;
    border: none;
}

.add-project::before {
    content: "+ ";
    font-weight: 500;
    font-size: 1.3em;
}

/* Main */
.main {
    background-color: var(--background--main);
    color: var(--text--main);
    width: 100%;
    display: flex;
}

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.list__heading input {
    color: white;
    background-color: transparent;
    border: none;
}

.list__todos {
    padding: 18px 0 20px 0;
    flex-grow: 1;
    min-height: 0;
    overflow: scroll;
}

li:has(.todo) {
    list-style: none;
}

.todo,
.add-todo,
.delete-todo {
    font-size: 0.9em;
    height: 46px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 16px 40px rgb(255 255 255 / 7%);
}

.todo {
    width: 100%;
    background-color: #EDEDED;
    color: #34373D;
    text-align: left;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo.selected {
    background-color: #D0D5E9;
}

.todo.priority-0 {
    color: #34373D;
}

.todo.priority-1 {
    color: #CA8A04;
}

.todo.priority-2 {
    color: #EA580C;
}

.todo.priority-3 {
    color: #DC2626;
}

.todo span:last-of-type {
    color: #436AF2;
    font-size: 0.8em;
}

.add-todo {
    margin-top: 20px;
    background-color: #5466AF;
    color: white;
    field-sizing: fixed;
    display: block;
    line-height: 30px;
}

.add-todo::placeholder {
    color: white;
}

.todo__details {
    background-color: white;
    height: 100vh;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo__title {
    color: #34373D;
    padding-bottom: 20px;
    border: none;
}

.todo__details__container>input,
.todo__details__container>select {
    color: #767678;
    padding: 10px 0;
    border: none;
    display: block;
}

.todo__details__container>*:nth-child(n+2) {
    border-top: 1px solid #EDEDED;
}

.delete-todo {
    align-self: flex-end;
    background-color: #767678;
    color: white;
    height: auto;
}

.delete-todo:hover {
    background-color: darkred;
    transition-duration: 500ms;
    transition-property: all;
    transform: scaleX(1.05);
}

.inactive {
    display: none;
}

@media screen and (width <=500px) {}